# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	diff=astextplain

# Specific file types with line ending issues
*.json text eol=lf
*.ps1 text eol=lf
*.ps1:Zone.Identifier text eol=lf
*.verified.ps1:Zone.Identifier text eol=lf
